.container-admin1 {
    margin-top: var(--spacing-36);
    display: flex;
    margin-left: 110px
}

.input-admin {
    width: 529.76px;
    height: 44.28px;
    border: 2px solid #30343F;
    border-radius: 6px;
    margin-left: var(--spacing-28);
}

.input-admin::placeholder {
    padding-left: 23.87px;
    font-family: var(--base-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 2.4rem;
    color: #B9B9B9;
}

.container-admin2 {
    margin-top: 3.75rem;
    margin-left: 110px;
    width: 1120px;
    margin-bottom: var(--spacing-36);
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agregar {
    display: flex;
    align-items: center;
    gap: 2.85rem;
}

.agregar p {
    font-family: var(--base-font);
    font-style: normal;
    font-weight: 700;
    font-size: 2.4em;
    line-height: 2.9rem;
    text-align: right;
    color: #1F1F1F;
}



h1 {
    font-family: var(--alternative-font);
    font-style: normal;
    font-weight: 700;
    font-size: 4.2em;
    line-height: 49px;
    color: #1F1F1F;
}

.grid-admin {
    display: grid;
    grid-template-columns: 5% 15% 40% 30% 5% 5%;
    grid-template-rows: 14;
    margin-top: 34px;
}

.titulos {
    font-family: var(--base-font);
    font-style: normal;
    font-weight: 700;
    font-size: 2.4em;
    line-height: 2.9rem;
    color: #1F1F1F;
    margin-bottom: 2.295rem;
}

div .contenido,
div .contenido-tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--base-font);
    font-style: normal;
    font-size: 2.4em;
    line-height: 253.52%;
    text-align: left;
    color: #1F1F1F;
}

.contenido-tool {
    max-width: 50%;
}