.search-container {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-36);
}

.search-input {
  width: 529.76px;
  height: 44.28px;
  border: 2px solid var(--dark-solid);
  border-radius: 6px;
  margin-left: var(--spacing-28);
}

.search-input::placeholder {
  padding-left: 23.87px;
  font-family: var(--base-font);
  font-weight: 500;
  font-size: var(--font-xsmall);
  line-height: 2.4rem;
  color: var(--dark-300);
}

.product-main {
  display: flex;
  flex-direction: column;

}

.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-36);
}

.product-list__tittle {
  font: var(--alternative-font);
  font-size: var(--font-jumbo);
  font-weight: 700;
  text-transform: uppercase;
}

.product-add {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.product-add__tittle {
  font: var(--base-font);
  font-size: var(--font-large);
  font-weight: 700;
}

.product-admin {
  display: grid;
  grid-template-columns: 5% 15% 40% 30% 5% 5%;
  grid-template-rows: 14;
  padding-top: var(--spacing-36);
}

.titulos {
  font-family: var(--base-font);
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-large);
  line-height: 2.9rem;
  color: var(--dark-solid);
  margin-bottom: 2.295rem;
}

div .contenido,
div .contenido-tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--base-font);
  font-style: normal;
  font-size: 2.4em;
  line-height: 253.52%;
  text-align: left;
  color: #1F1F1F;
}

.contenido-tool {
  max-width: 50%;
}