<!--Footer-->
<footer>
    <img src="..\img\branding\isotype.svg" id="logo_footer" alt="">
    <nav>
      <a href="">SHOP</a>
      <a href="">REGISTRARSE</a>
      <a href="">INGRESAR</a>
      <a href="">CONTACTO</a>
    </nav>
    <p id="footer_legend">All rights reserved 2023 - Funkoshop &copy</p>
  </footer>

</html>