<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <!-- Metadatos -->
  <meta charset="UTF-8">
  <meta name="author" content="Guibo">
  <meta name="descripcion-producto" content="Marketplace de muñecos">
  <meta name="keywords" content="Starwars, Pokemon, Harry Potter">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <!-- Tittle -->
  <title><%= view.tittle %></title>
  <!--Favicon-->
  <link rel="icon" href="..\img/funko_ico.png">
  <!-- CSS -->
  
 <!--<link rel="stylesheet" href=".\css\style.css">

  <link rel="stylesheet" href=".\css\styleHome.css">

  <link rel="stylesheet" href=".\css\styleShop.css">-->
  

<link rel="stylesheet" href="\css\index.css">

</head>

<!--Barra de navegación-->
<header>
  <img src="..\img\branding\logo_light_horizontal.svg" id="logo_header" alt="">
  <nav>
    <a href=".\pages\shop.html">SHOP</a>
    <a href=""><img src="..\img\header\Stroke.svg" alt=""></a>
    <a href="">CONTACTO</a>
    <a href="">LOGIN</a>
    <a href=""><img src="..\img\icons\cart-icon.svg" alt=""></a>
  </nav>
</header>
